@model FileSharingApp.Models.ResetPasswordViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Title";
}

<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:0;">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h1>@localizer["ResetPassword"]</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form method="post" class="mu-contact-form" asp-action="ResetPassword" asp-controller="Account">
                                        <div class="form-group">
                                            <span class="fa fa-envelope mu-contact-icon"></span>
                                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="@localizer["NewPassword"]" required>
                                            <span asp-validation-for="NewPassword"></span>
                                        </div>
                                        <div class="form-group">
                                            <span class="fa fa-envelope mu-contact-icon"></span>
                                            <input type="password" class="form-control" asp-for="ConfirmedNewPassword" placeholder="@localizer["ConfirmedNewPassword"]" required>
                                            <span asp-validation-for="ConfirmedNewPassword"></span>
                                        </div>
                                        <input type="hidden" asp-for="Token" value="@Context.Request.Query["Token"]" />
                                        <input type="hidden" asp-for="Email" value="@Context.Request.Query["Email"]" />

                                        <button type="submit" class="mu-send-msg-btn"><span>@localizer["SaveChanges"]</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Contact Content -->
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




