@model IEnumerable<FileSharingApp.Models.UploadViewModel>

@{
    ViewData["Title"] = "Browse";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3 col-md-12">
                <div class="row g-0">
                    <div class="col-md-4">
                        @if (item.ContentType.ToLower().StartsWith("image"))
                        {
                            <img height="100%" width="100%" data-src="/Uploads/@item.FileName" class="img-fluid rounded-start card-img lazyload" alt="...">
                        }

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <h5 class="card-title">@item.OriginalName</h5>
                                </div>
                                <div class="col-md-3">
                                    <p class="card-text"><small class="text-muted">@item.UploadDate</small></p>
                                    @{
                                        var size = item.Size / 1024;
                                        if (size < 1024)
                                        {
                                            <span>@Math.Floor(size) Kb</span>
                                        }
                                        else
                                        {
                                            <span>@(Math.Floor(size)/1024) Mb</span>
                                        }
                                    }
                                </div>
                                <div class="col-md-3">
                                    <div class="text-right">
                                        <a asp-action="Download" asp-controller="Uploads" asp-route-id="@item.FileName" class="btn btn-outline-primary">Download</a>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <span>@item.DownloadCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-12 text-center">
            <div>
                @if (ViewBag.CurrentPage - 1 > 0)
                {
                    <a href="/Uploads/Browse/?RequiredPage=@(ViewBag.CurrentPage-1) " class="btn btn-outline-primary  btn-lg align-left">Prev</a>
                }
                @if (ViewBag.CurrentPage + 1 <= ViewBag.PagesCount)
                {
                    <a href="/Uploads/Browse/?RequiredPage=@(ViewBag.CurrentPage+1)" class="btn btn-outline-primary  btn-lg align-right">Next</a>

                }
            </div>
        </div>
    </div>
</div>
