@model IEnumerable<FileSharingApp.Models.UploadViewModel>

@{
    ViewData["Title"] = "Index";
    var imagesContentTypes = new[] { "image/jpeg", "image/png" };
}

<h1>My Uploads</h1>

<p style="text-align:right">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Preview
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (imagesContentTypes.Contains(item.ContentType))
                {
                    <img src="/Uploads/@item.FileName" width="70" height="70" class="img-thumbnail" alt="Alternate Text" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalName)

            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Size)*@
                @{
                    var size = item.Size / 1024;
                    if (size < 1024)
                    {
                        <span>@Math.Floor(size) Kb</span>
                    }
                    else
                    {
                        <span>@(Math.Floor(size)/1024) Mb</span>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadCount)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
