@model AdminUserViewModel
<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
            Digital Strategist
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="lead"><b>Name :@(Model.FirstName + " "+Model.LastName)</b></h2>
                    <p class="text-muted text-sm"><b>Email: </b> @Model.Email</p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-calendar"></i></span>
                            <strong>Created Date :</strong><span class="moment-date">@Model.CreatedDate.ToString("yyyy-MM-dd hh:mm:ss",new System.Globalization.CultureInfo("en-US"))</span>
                        </li>
                        @*<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>*@
                    </ul>
                </div>
                <div class="col-5 text-center">
                    <img src="~/Admin/dist/img/user1-128x128.jpg" alt="user-avatar" class="img-circle img-fluid">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a href="#" class="btn btn-sm bg-teal">
                    <i class="fas fa-comments"></i>
                </a>
                <button form="block-user@(Model.UserId)" type="submit" class="btn btn-sm @(Model.IsBlocked?"btn-danger":"btn-primary")">
                    <i class="fas @(Model.IsBlocked?"fa-user":"fa-user-block")"></i> @(Model.IsBlocked?"Unblock user":"Block user")
                </button>
                <form id="block-user@(Model.UserId)" asp-action="Block" asp-controller="User" asp-area="Admin">
                    <input type="hidden" name="UserId" value="@Model.UserId" />

                </form>
            </div>
        </div>
    </div>
</div>

